body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEDAD;
  color: #CC004B;
  font-family: 'Arimo', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 2em;
}

.middle, .player-side, .player-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-side {
  height: 100%;
  width: 20%;
  background-color: white;
}

.player-icon, .win-tracker {
  margin: 0;
}

.player-icon {
  font-size: 3em;
}

.board {
  display: grid;
  background-color: #CC004B;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

button {
  border: none;
  background-color: #FFEDAD;
  padding: 0;
  font-size: 2em;
  height: 2em;
  width: 2em;
}

#messageBoard {
  font-size: 2em;
}